@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&family=Poppins:ital,wght@1,100&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
div.container{
    background-color: #000;
    padding: 0 2rem;
}
div.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inner_second{
    display: inline-block;
}
.box{
    padding: .75rem;
}
h1{
    color: #fff;
    padding-top: 2rem;
}
h6{
    color: red;
    font-weight: bold;
    padding: .25rem;
}
p.lead{
color: #fff;
font-weight: 400;
}
video{
    border-radius: 1rem;
}
.inner_first,.inner_second{
    border-radius: 1rem;
    background-color: rgb(35, 35, 35);
}
.inner_first{
    padding: 4rem .5rem;
    margin-right: .5rem;
}